
/* .Home {
    flex: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
} */

.item1 {
    flex: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 10vh;
    width: 100%;
}

.item2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 65vw;
    width: 100%; 
}

.item3 {
    flex: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 50%;
    width: 100%;
}

.galaxy {
    flex: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    zoom: .65;
}

.Project {
    flex: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.spaceBox {
    flex: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30vh;
    width: 100%;
}

.spaceBox2 {
    flex: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 10vh;
    width: 100%;
}