.Home {
    flex: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.galaxy {
    flex: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    margin-bottom: 30vh;
    zoom: .65;
    zindex: -1;
    overflow: hidden;
}

.Project {
    flex: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.spaceBox {
    flex: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}


.displayInfo {
    flex: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100vw;
}